# Build directories
build-*/
.cache/

# IDE files
.idea/
*.swp
*.swo
*~
.DS_Store

# Executables
*.exe
*.pch
*.out
*.so
*.a
*.lib
*.dll

# Temporary files
*.o
*.obj
*.d
*.su
*.gch

# Python
__pycache__/
*.py[cod]
*$py.class
.Python
ENV/

# CMake user preference file
CMakeUserPresets.json

# Documentation
/docs/index.md
/site

/tmp
/bundled
compile_commands.json
